<!DOCTYPE html>

<html lang="en">

<head>
<title>Venue Finde & Booking</title>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="Weddlist" />
<meta name="keywords" content="wedding, wedding vendor, wedding vendor directory, HTML template, html theme, wedding html template, wedding html theme, weddlist, weddlist html, weddlist html template">
<meta name="author" content="udayraj" />
<meta name="MobileOptimized" content="320" />
<link href="userside/images/favicon.ico" rel="icon" type="image/x-icon"/> <!-- favicon -->
<!-- theme style -->
<link href="userside/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> <!-- bootstrap css -->
<link href="userside/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> <!-- fontawesome css -->
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> <!-- google fonts -->
<link href="userside/css/menumaker.css" rel="stylesheet" type="text/css"/> <!-- menu css -->
<link href="userside/css/owl.carousel.css" rel="stylesheet" type="text/css"/> <!-- owl carousel css -->
<link href="userside/css/magnific-popup.css" rel="stylesheet" type="text/css"/> <!-- magnify popup css -->
<link href="userside/css/datepicker.css" rel="stylesheet" type="text/css"/> <!-- datepicker css -->
<link href="userside/css/flaticon.css" rel="stylesheet" type="text/css"/> <!-- flaticon css -->
<link href="userside/css/style.css" rel="stylesheet" type="text/css"/> <!-- custom css -->
<link href="userside/css/stucture.css" rel="stylesheet" type="text/css"/> <!-- stucture css -->
<!-- end theme style -->
</head>
<!-- end head -->
<!--body start-->
<body>

<!-- end preloader --> 
<!--  top bar -->
<%- include('utop'); -%> 
<!--  end top bar -->
<!--  navigation -->
 
<!--  end navigation -->
<!-- page banner -->
  <section id="page-banner" class="page-banner" style="background-image: url('userside/images/back3.jpg');"> 
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="banner-dtl text-center">
        <h2 class="banner-heading">About Us</h2>
        <div class="breadcrumb-block">
          <ol class="breadcrumb">
            <li><a href="website">Home</a></li>
            <li class="active">About Us</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
<!-- end page banner -->
<!-- about our main block -->
  <section id="about-our" class="pt120">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">About Our Weddlist</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="about-main-img">
            <img src="userside/images/about-us/about-us-main.png" class="img-responsive" alt="about-img">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-our-block">
            <div class="about-our-dtl">
              <div class="about-our-icon">
                <i class="flaticon-loving-home"></i>
                <h4 class="about-our-heading">Weddlist History</h4>
              </div>
              <div class="about-our-text">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium totam rem aperiam eaque.</p>
                <a href="#" class="btn read-more">Read More</a>
              </div>
            </div>
            <div class="about-our-dtl">
              <div class="about-our-icon">
                <i class="flaticon-heart-shaped-padlock"></i>
                <h4 class="about-our-heading">Our Vision</h4>
              </div>
              <div class="about-our-text">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium totam rem aperiam eaque.</p>
                <a href="#" class="btn read-more">Read More</a>
              </div>
            </div>
            <div class="about-our-dtl">
              <div class="about-our-icon">
                <i class="flaticon-heart-with-arrow"></i>
                <h4 class="about-our-heading">Our Mission</h4>
              </div>
              <div class="about-our-text">
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tium doloremque laudantium totam rem aperiam eaque.</p>
                <a href="#" class="btn read-more">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end about our main block --> 
<!-- wedding plan -->
  <section id="wedding-plan" class="ptb120 bglight">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Start Planning Your Wedding Step By Step</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="wedding-plan-block">
            <div class="wedding-plan-img">
              <img src="userside/images/wedding-plan-1.jpg" class="img-responsive" alt="wedding-plan">
              <div class="overlay-bg"></div>
            </div>
            <div class="wedding-plan-dtl whitebg text-center">
              <h5 class="heading"><a href="budget-planner.html">Budget Planner</a></h5>
              <p class="sub-heading">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.</p>
              <a href="budget-planner.html" class="btn btn-default">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="wedding-plan-block">
            <div class="wedding-plan-img">
              <img src="userside/images/wedding-plan-2.jpg" class="img-responsive" alt="wedding-plan">
              <div class="overlay-bg"></div>
            </div>
            <div class="wedding-plan-dtl whitebg text-center">
              <h5 class="heading"><a href="guest-list.html">Guest List</a></h5>
              <p class="sub-heading">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.</p>
              <a href="guest-list.html" class="btn btn-default">View Details</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="wedding-plan-block">
            <div class="wedding-plan-img">
              <img src="userside/images/wedding-plan-3.jpg" class="img-responsive" alt="wedding-plan">
              <div class="overlay-bg"></div>
            </div>
            <div class="wedding-plan-dtl whitebg text-center">
              <h5 class="heading"><a href="to-do-list.html">Check List</a></h5>
              <p class="sub-heading">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus.</p>
              <a href="to-do-list.html" class="btn btn-default">View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end wedding plan -->
<!-- call out -->
  <section id="call-out" class="call-out-main-block">
    <div class="parallax" style="background-image: url('images/bg/call-out-parr.jpg');">
      <div class="overlay-bg"></div>
      <div class="container text-center">
        <div class="call-out-dtl">
          <h2 class="call-out-heading">Are you trying our planning tools ?</h2>
          <a href="#" class="btn btn-pink">Start Planning Today</a>
        </div>
      </div>
    </div>
  </section>
<!-- end call out -->
<!-- why choose -->
  <section id="why-choose" class="why-choose-main-block ptb120">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="why-choose-img">
            <img src="userside/images/why-choose.png" class="img-responsive" alt="why-choose">
          </div>
        </div>
        <div class="col-md-8">
          <div class="section">
            <div class="row">
              <div class="col-sm-5">
                <h3 class="section-heading">Why Choose Wedd<span>list</span></h3>
              </div>
              <div class="col-sm-7">
                <p class="section-sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercit.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-two-hearts"></i>
                </div>
                <h4 class="why-choose-heading">20 Year Experience</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-food"></i>
                </div>
                <h4 class="why-choose-heading">1500+ Wedding Suppliers</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-valentine-day"></i>
                </div>
                <h4 class="why-choose-heading">100 Real Weddings</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
              <div class="why-block">
                <div class="why-icon">
                  <i class="flaticon-wedding-day"></i>
                </div>
                <h4 class="why-choose-heading">Perfect Checklist</h4>
                <p>Sed ut perspiciatis unde omnis iste na voluptatem accusantium doloremque laudantium</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end why choose -->
<!-- how it work -->
  <section id="how-it-work" class="parallax how-it-main-block" style="background-image: url('images/bg/testimonial-bg.jpg');">
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">How It Works</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natu</p>
      </div>
      <div class="col-sm-4">
        <div class="how-it-block text-center">
          <div class="how-it-icon">
            <i class="flaticon-wedding-location"></i>
          </div>
          <h4 class="how-it-heading">1.Find The Vendor</h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-it-block text-center">
          <div class="how-it-icon">
            <i class="flaticon-wedding-planning"></i>
          </div>
          <h4 class="how-it-heading">2.Compare The Proposal</h4>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="how-it-block text-center">
          <div class="how-it-icon">
            <i class="flaticon-heart-with-arrow"></i>
          </div>
          <h4 class="how-it-heading">3.Hire The Right Vendor</h4>
        </div>
      </div>
    </div>
  </section>
<!-- end how it work -->
<!-- vendor profile -->
  <section id="vendor-profile-main-block" class="ptb120">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading">Top Feature Vendor Profile</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="userside/images/vendor-profile-1.jpg" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <div class="vendor-sub-heading">U. K.</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Micheal Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="userside/images/vendor-profile-2.jpg" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <div class="vendor-sub-heading">Australia</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Jon Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="userside/images/vendor-profile-3.jpg" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <div class="vendor-sub-heading">USA</div>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Sams Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="vendor-profile-block">
            <div class="vendor-profile-img">
              <img src="userside/images/vendor-profile-4.jpg" class="img-responsive" alt="vendor-profile">
              <div class="overlay-bg"></div>
              <div class="vendor-dtl">
                <h4 class="vendor-heading">Photographer</h4>
                <h6 class="vendor-sub-heading">Australia</h6>
              </div>
            </div>
            <div class="vendor-profile-dtl">
              <h4 class="vendor-profile-heading"><a href="#">Alex Doe</a></h4>
              <p>Sed ut perspiciatis unde omnis iste natus error sit volu ptatem.</p>
              <a href="#" class="btn read-more">Read More</a>
              <ul class="social-btns">
                <li><a class="btn facebook" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a class="btn twitter" href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a class="btn google" href="https://www.plus.google.com/" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a class="btn linkedin" href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- end vendor profile -->
<!-- footer -->
<%- include('ufooter'); -%>
<!-- end footer -->
<!-- jquery -->
<script type="text/javascript" src="userside/js/jquery.min.js"></script>  <!-- jquery library js -->
<script type="text/javascript" src="userside/js/bootstrap.min.js"></script> <!-- bootstrap js -->
<script type="text/javascript" src="userside/js/owl.carousel.js"></script> <!-- owl carousel js -->
<script type="text/javascript" src="userside/js/jquery.ajaxchimp.js"></script> <!-- mail chimp js -->
<script type="text/javascript" src="userside/js/smooth-scroll.js"></script> <!-- smooth scroll js -->
<script type="text/javascript" src="userside/js/jquery.magnific-popup.min.js"></script> <!-- magnify popup js --> 
<script type="text/javascript" src="userside/js/waypoints.min.js"></script> <!-- facts count js required for jquery.counterup.js file -->
<script type="text/javascript" src="userside/js/jquery.counterup.js"></script> <!-- facts count js-->
<script type="text/javascript" src="userside/js/menumaker.js"></script> <!-- menu js--> 
<script type="text/javascript" src="userside/js/jquery.share-tooltip.js"></script> <!-- share tooltip js--> 
<script type="text/javascript" src="userside/js/price-slider.js"></script> <!-- price slider / filter js-->
<script type="text/javascript" src="userside/js/bootstrap-datepicker.js"></script> <!-- datepicker js-->
<script type="text/javascript" src="userside/js/theme.js"></script> <!-- custom js -->  
<!-- end jquery -->
</body>
<!--body end -->

<!-- Mirrored from thegenius.co/html/weddlist/version-1/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Jan 2024 05:34:24 GMT -->
</html>