<!DOCTYPE html>

<html lang="en">    
<!-- <![endif]-->
<!-- head -->

<!-- Mirrored from thegenius.co/html/weddlist/version-1/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Jan 2024 05:33:35 GMT -->
<head>
<title>Venue Finder & Booking </title>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="Weddlist" />
<meta name="keywords" content="wedding, wedding vendor, wedding vendor directory, HTML template, html theme, wedding html template, wedding html theme, weddlist, weddlist html, weddlist html template">
<meta name="author" content="udayraj" />
<meta name="MobileOptimized" content="320" />
<link href="userside/images/favicon.ico" rel="icon" type="image/x-icon"/> <!-- favicon -->
<!-- theme style -->
<link href="userside/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> <!-- bootstrap css -->
<link href="userside/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> <!-- fontawesome css -->
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> <!-- google fonts -->
<link href="userside/css/menumaker.css" rel="stylesheet" type="text/css"/> <!-- menu css -->
<link href="userside/css/owl.carousel.css" rel="stylesheet" type="text/css"/> <!-- owl carousel css -->
<link href="userside/css/magnific-popup.css" rel="stylesheet" type="text/css"/> <!-- magnify popup css -->
<link href="userside/css/datepicker.css" rel="stylesheet" type="text/css"/> <!-- datepicker css -->
<link href="userside/css/flaticon.css" rel="stylesheet" type="text/css"/> <!-- flaticon css -->
<link href="userside/css/style.css" rel="stylesheet" type="text/css"/> <!-- custom css -->
<link href="userside/css/stucture.css" rel="stylesheet" type="text/css"/> <!-- stucture css -->
<!-- end theme style -->
</head>
<!-- end head -->
<!--body start-->
<body>

<!--  top bar -->
<%- include('utop') -%> 

 
<!--  end navigation -->
<!-- page banner -->
  <section id="page-banner" class="page-banner" style="background-image: url('userside/images/back3.jpg');"> 
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="banner-dtl text-center">
        <h2 class="banner-heading">Contact Us</h2>
        <div class="breadcrumb-block">
          <ol class="breadcrumb">
            <li><a href="dashboard">Home</a></li>
            <li class="active">Contact Us</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
<!-- end page banner -->
<!-- contact us -->
  <section class="main-container">
    <div class="container">
      <div class="section text-center">
        <h3 class="section-heading"> Contact Details</h3>
        <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="contact-us-block">
            <div class="contact-us-icon"> 
              <img src="userside/images/contact-us/contact-icon-1.png" class="img-responsive" alt="contact-icon">
            </div>
            <div class="contact-us-dtl text-center">
              <h6 class="contact-heading">Our Address</h6>
              <div class="contact-sub-heading">824 Bel Meadow Drive, California, USA</div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="contact-us-block">
            <div class="contact-us-icon"> 
              <img src="userside/images/contact-us/contact-icon-2.png" class="img-responsive" alt="contact-icon">
            </div>
            <div class="contact-us-dtl text-center">
              <h6 class="contact-heading">Call Us</h6>
              <a href="tel:#">+(00) 123 456 78 OR</a>
              <a href="tel:#">+(00) 123 456 78</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="contact-us-block">
            <div class="contact-us-icon"> 
              <img src="userside/images/contact-us/contact-icon-3.png" class="img-responsive" alt="contact-icon">
            </div>
            <div class="contact-us-dtl text-center">
              <h6 class="contact-heading">Mail Us</h6>
              <a href="mailto:#">Info@Weddlist.com</a>
              <a href="mailto:#">Support@Weddlist.com</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt100">
        <div class="section text-center">
          <h3 class="section-heading">Feel Free To Contact Us</h3>
          <p class="section-sub-heading">Sed ut perspiciatis unde omnis iste natus error</p>
        </div>
        <div class="contact-form form-group">
          <form id="contact-us-form"  method="post">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" class="form-control" name="name" id="name" placeholder="YOUR NAME *" required/>
                <input type="text" class="form-control" name="phone" id="phone" placeholder="YOUR PHONE" required/>
              </div>
              <div class="col-sm-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="YOUR EMAIL ADDRESS *" required/>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="SUBJECT"/>
              </div>
            </div>
            <textarea name="message" id="message" class="form-control" placeholder="YOUR MESSAGE *"></textarea>
            <div class="message-button text-center">
              <button type="submit" class="btn btn-pink">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- end contact us -->
<!-- footer -->
 <%- include('ufooter'); -%> 
  
<!-- end footer -->
<!-- jquery -->
<script type="text/javascript" src="userside/js/jquery.min.js"></script>  <!-- jquery library js -->
<script type="text/javascript" src="userside/js/bootstrap.min.js"></script> <!-- bootstrap js -->
<script type="text/javascript" src="userside/js/owl.carousel.js"></script> <!-- owl carousel js -->
<script type="text/javascript" src="userside/js/jquery.ajaxchimp.js"></script> <!-- mail chimp js -->
<script type="text/javascript" src="userside/js/smooth-scroll.js"></script> <!-- smooth scroll js -->
<script type="text/javascript" src="userside/js/jquery.magnific-popup.min.js"></script> <!-- magnify popup js --> 
<script type="text/javascript" src="userside/js/waypoints.min.js"></script> <!-- facts count js required for jquery.counterup.js file -->
<script type="text/javascript" src="userside/js/jquery.counterup.js"></script> <!-- facts count js-->
<script type="text/javascript" src="userside/js/menumaker.js"></script> <!-- menu js--> 
<script type="text/javascript" src="userside/js/jquery.share-tooltip.js"></script> <!-- share tooltip js--> 
<script type="text/javascript" src="userside/js/price-slider.js"></script> <!-- price slider / filter js-->
<script type="text/javascript" src="userside/js/bootstrap-datepicker.js"></script> <!-- datepicker js-->
<script type="text/javascript" src="useside/js/theme.js"></script> <!-- custom js -->    
<!-- end jquery -->
</body>
<!--body end -->

<!-- Mirrored from thegenius.co/html/weddlist/version-1/contact-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Jan 2024 05:33:35 GMT -->
</html>