<aside class="main-sidebar sidebar-dark-primary elevation-4">

<a href="index3.html" class="brand-link">
  <span class="brand-text font-weight-light"><h5>Venue Finder & Booking</h5></span>
</a>


<div class="sidebar">
 
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    
    <div class="info">
      <a href="#" class="d-block"><h4>TRISHA PATEL</h4></a>
    </div>
  </div>

  
  <div class="form-inline">
    <div class="input-group" data-widget="sidebar-search">
      <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search"></input>
      <div class="input-group-append">
        <button class="btn btn-sidebar">
          <i class="fas fa-search fa-fw"></i>
        </button>
      </div>
    </div>
  </div>

 

  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item menu-open">
        <a href="/home" class="nav-link active">
          <i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a></li>  

       <li class="nav-item">
       <a href="/home" class="nav-link">
        <i class="nav-icon fas fa-edit"></i><p>Admin<i class="fas fa-angle-left right"></i></p></a>
       
          <ul class="nav nav-treeview">
          <li class="nav-item"><a  href="../admin/add-admin" class="nav-link"> <i class="far fa-circle nav-icon"></i><p>Admin Form</p></a></li>
          <li class="nav-item"><a href="../admin/display-admin" class="nav-link"><i class="far fa-circle nav-icon"></i><p>Admin Table</p></a></li>
        </ul>
      </li>


      <li class="nav-item">
        <a href="/home" class="nav-link">
          <i class="nav-icon fas fa-edit"></i><p> Category <i class="fas fa-angle-left right"></i></p></a>
          <ul class="nav nav-treeview">
          <li class="nav-item"><a href="../category/add-category" class="nav-link"> <i class="far fa-circle nav-icon"></i><p>Category Form</p> </a></li>
          <li class="nav-item"><a href="../category/display-category" class="nav-link"> <i class="far fa-circle nav-icon"></i><p>Category Table</p></a></li> 
         </ul>
        </li>


      <li class="nav-item">
        <a href="/home" class="nav-link">
          <i class="nav-icon fas fa-edit"></i><p> Booking <i class="fas fa-angle-left right"></i></p></a><ul class="nav nav-treeview">
          <li class="nav-item"><a href="../booking/add-booking" class="nav-link"> <i class="far fa-circle nav-icon"></i><p>Booking Form</p> </a></li>
          <li class="nav-item"><a href="../booking/display-booking" class="nav-link"> <i class="far fa-circle nav-icon"></i><p>Booking Table</p></a></li> 
        </ul>
      </li>


      <li class="nav-item">
        <a href="/home" class="nav-link">
          <i class="nav-icon fas fa-edit"></i><p> User <i class="fas fa-angle-left right"></i></p></a><ul class="nav nav-treeview">
          <li class="nav-item"><a href="../user/add-user" class="nav-link"> <i class="far fa-circle nav-icon"></i><p>User Form</p> </a></li>
          <li class="nav-item"><a href="/user/display-user" class="nav-link"> <i class="far fa-circle nav-icon"></i><p>User Table</p></a></li> 
        </ul>
      </li>

     
      

</ul>
</nav>
</div>
</aside>