<!DOCTYPE html>

<html lang="en">
<head>
<title>Venue Finder & Booking | Login</title>
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<meta name="description" content="Weddlist" />
<meta name="keywords" content="wedding, wedding vendor, wedding vendor directory, HTML template, html theme, wedding html template, wedding html theme, weddlist, weddlist html, weddlist html template">
<meta name="author" content="udayraj" />
<meta name="MobileOptimized" content="320" />
<link href="userside/images/favicon.ico" rel="icon" type="image/x-icon"/> <!-- favicon -->
<!-- theme style -->
<link href="userside/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> <!-- bootstrap css -->
<link href="userside/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> <!-- fontawesome css -->
<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> <!-- google fonts -->
<link href="userside/css/menumaker.css" rel="stylesheet" type="text/css"/> <!-- menu css -->
<link href="userside/css/owl.carousel.css" rel="stylesheet" type="text/css"/> <!-- owl carousel css -->
<link href="userside/css/magnific-popup.css" rel="stylesheet" type="text/css"/> <!-- magnify popup css -->
<link href="userside/css/datepicker.css" rel="stylesheet" type="text/css"/> <!-- datepicker css -->
<link href="userside/css/flaticon.css" rel="stylesheet" type="text/css"/> <!-- flaticon css -->
<link href="userside/css/style.css" rel="stylesheet" type="text/css"/> <!-- custom css -->
<link href="userside/css/stucture.css" rel="stylesheet" type="text/css"/> <!-- stucture css -->
<!-- end theme style -->
</head>
<!-- end head -->
<!--body start-->
<body>

<!--  top bar -->
<%- include('utop'); -%>

<!-- page banner -->
  <section id="page-banner" class="page-banner" style="background-image: url('userside/images/back3.jpg');"> 
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="banner-dtl text-center">
        <h2 class="banner-heading">Login</h2>
        <div class="breadcrumb-block">
          <ol class="breadcrumb">
            <li><a href="website">Home</a></li>
            <li class="active">Login</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
<!-- end page banner -->
<!-- vendor profile -->
  <section id="vendor-profile" class="vendor-profile-main-page">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <div class="vendor-enquery-block" >
            <h4 class="vendor-enquery-heading">LOGIN </h4>
            <p class="vendor-enquery-sub-heading">Fill In Your Details. </p>
            <div class="form-group">
              <form id="vendor-profile-form" method="post">
           
                <input type="email" class="form-control" id="email" placeholder="Email Address *" name="email" required>
                <input type="password" class="form-control" id="password" placeholder="Your Password *" name="password" required/>
              
                <button type="submit" class="btn btn-pink" >Login Now</button>
              </form>
              
              <p class="sign-in text-center">
                Register New an account? <a href="signup">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     
     
    </div>
  </section>
<!-- end vendor profile -->
<!-- footer -->
  <%- include('ufooter'); -%>
<!-- end footer -->
<!-- jquery -->
<script type="trxt/javascript" src="jquery/jquery-3.7.1.min.js"></script>
<script type="trxt/javascript" src="jquery/jquery.validate.js"></script>
<script>
  $(document).ready(function(){
    $("#form").validate();
  });
</script>
<script type="text/javascript" src="userside/js/jquery.min.js"></script>  <!-- jquery library js -->
<script type="text/javascript" src="userside/js/bootstrap.min.js"></script> <!-- bootstrap js -->
<script type="text/javascript" src="userside/js/owl.carousel.js"></script> <!-- owl carousel js -->
<script type="text/javascript" src="userside/js/jquery.ajaxchimp.js"></script> <!-- mail chimp js -->
<script type="text/javascript" src="userside/js/smooth-scroll.js"></script> <!-- smooth scroll js -->
<script type="text/javascript" src="userside/js/jquery.magnific-popup.min.js"></script> <!-- magnify popup js --> 
<script type="text/javascript" src="userside/js/waypoints.min.js"></script> <!-- facts count js required for jquery.counterup.js file -->
<script type="text/javascript" src="userside/js/jquery.counterup.js"></script> <!-- facts count js-->
<script type="text/javascript" src="userside/js/menumaker.js"></script> <!-- menu js--> 
<script type="text/javascript" src="userside/js/jquery.share-tooltip.js"></script> <!-- share tooltip js--> 
<script type="text/javascript" src="userside/js/price-slider.js"></script> <!-- price slider / filter js-->
<script type="text/javascript" src="userside/js/bootstrap-datepicker.js"></script> <!-- datepicker js-->
<script type="text/javascript" src="userside/js/theme.js"></script> <!-- custom js -->  
<!-- end jquery -->
</body>
<!--body end -->

<!-- Mirrored from thegenius.co/html/weddlist/version-1/vendor-profile.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Jan 2024 05:33:27 GMT -->
</html>