<section class="home-revo-slider">
    <article class="content">    
      <div id="rev_slider_1066_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="notgeneric125" data-source="gallery" style="background-color:transparent;padding:0px;">
        <!-- slider bottom panel -->
        <div class="slider-bottom-panel">
          <div class="container">
            <div class="col-sm-4">
              <div class="select-category-dropdown dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">  
                  <span class="drp-name" data-bind="label">Select Vendor Category</span>
                  <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                  <li><a href="#">Cake</a></li>
                  <li><a href="#">Florist</a></li>
                  <li><a href="#">Dresses</a></li>
                  <li><a href="#">Jewellery</a></li>
                  <li><a href="#">Venue</a></li>
                  <li><a href="#">Photography</a></li>
                  <li><a href="#">Music</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="select-category-dropdown dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="drp-name" data-bind="label">Select City</span>
                  <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <li><a href="#">London</a></li>
                  <li><a href="#">New York</a></li>
                  <li><a href="#">California</a></li>
                  <li><a href="#">Mumbai</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="slider-bottom-panel-btn">
                <button type="button" class="btn btn-pink">Find A Vendor</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end slider bottom panel -->
        <div id="rev_slider_1066_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
          <ul>  
            <!-- SLIDE  -->
            <li class="slider-li-one" data-index="rs-3004" data-transition="zoomout" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="userside/images/slider/slider-1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 1 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                id="slide-3004-layer-1" 
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-fontsize="['52','52','52','52']"
                data-lineheight="['70','70','70','50']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text" 
                data-responsive_offset="on" 
                data-frames='[{"from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 5; white-space: nowrap;text-transform:left;">Find Your Perfect Wedding Vendor
              </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                id="slide-3004-layer-4" 
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text" 
                data-responsive_offset="on" 
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 6; white-space: nowrap;text-transform:left;">Over 1200+ Wedding Vendors For You Special Date &amp; Find The Perfect Venuw &amp; Save You Date 
              </div>   
            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-3005" data-transition="fadetotopfadefrombottom" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500" data-rotate="0"  data-saveperformance="off"  data-title="Chill" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="userside/images/side1.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg clr-blk"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 3 -->
       
            </li>

            <!-- SLIDE 3 -->
            <li data-index="rs-3006" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-saveperformance="off"  data-title="Enjoy Nature" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="userside/images/12.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg clr-blk"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 9 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                id="slide-3006-layer-1" 
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-fontsize="['52','52','52','52']"
                data-lineheight="['70','70','70','52']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text" 
                data-responsive_offset="on" 
                data-frames='[{"from":"y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.05,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 19; white-space: nowrap;text-transform:left;">Weddlist have 2000+ wedding vendor in directory
              </div>
              <!-- LAYER NR. 10 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                id="slide-3006-layer-4" 
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text" 
                data-responsive_offset="on" 
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 20; white-space: nowrap;text-transform:left;">Over 1200+ Wedding Vendors For You Special Date &amp; Find The Perfect Venuw &amp; Save You Date
              </div>
            </li>

            <!-- SLIDE 4 -->
            <li data-index="rs-3008" data-transition="zoomin" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-saveperformance="off"  data-title="Hiking" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
              <!-- MAIN IMAGE -->
              <img src="userside/images/bg.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <div class="overlay-bg clr-blk"></div>
              <!-- LAYERS -->
              <!-- LAYER NR. 11 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme" 
                id="slide-3008-layer-1" 
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
                data-fontsize="['52','52','52','52']"
                data-lineheight="['70','70','70','52']"
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text" 
                data-responsive_offset="on" 
                data-frames='[{"from":"x:[-105%];z:0;rX:0deg;rY:0deg;rZ:-90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"split":"chars","splitdelay":0.1,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[10,10,10,10]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[10,10,10,10]"
                data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 30; white-space: nowrap;text-transform:left;">Find Your Perfect Wedding Vendor
              </div>
              <!-- LAYER NR. 12 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme" 
                id="slide-3008-layer-4" 
                data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
                data-y="['middle','middle','middle','middle']" data-voffset="['52','52','52','51']" 
                data-width="none"
                data-height="none"
                data-whitespace="nowrap"
                data-type="text" 
                data-responsive_offset="on" 
                data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                data-textAlign="['left','left','left','left']"
                data-paddingtop="[0,0,0,0]"
                data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]"
                data-paddingleft="[0,0,0,0]"
                style="font-family: 'Lora';z-index: 31; white-space: nowrap;text-transform:left;">Over 1200+ Wedding Vendors For You Special Date &amp; Find The Perfect Venuw &amp; Save You Date
              </div>
              <a class="tp-caption NotGeneric-Button rev-btn " 
              href="http://codecanyon.net/item/slider-revolution-responsive-wordpress-plugin/2751380?ref=themepunch" target="_blank"      id="slide-3008-layer-10" 
              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
              data-y="['middle','middle','middle','middle']" data-voffset="['124','125','124','104']" 
              data-width="none"
              data-height="none"
              data-whitespace="nowrap"
              data-type="button" 
              data-actions=''
              data-responsive_offset="on" 
              data-responsive="off"
              data-frames='[{"speed":300,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"ease":"nothing"},{"frame":"hover","speed":"300","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
              data-textAlign="['left','left','left','left']"
              data-paddingtop="[10,10,10,10]"
              data-paddingright="[30,30,30,30]"
              data-paddingbottom="[10,10,10,10]"
              data-paddingleft="[30,30,30,30]"
              style="font-family: 'Lora';z-index: 34; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">Find Vendor</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </section> 